# dependencies
node_modules
.pnp
.pnp.js

# turbo
.turbo

# build output
dist
build
out

# system files
.DS_Store
Thumbs.db

# logs
*.log
yarn-error.log

# environment variables
.env
.env.*.local

# VSCode
.vscode